@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Miao&display=swap');
.NavFont {
    font-family: 'Noto Sans Miao', sans-serif!important;
}
.active {
    background-color: #010060;
    color: #1a73e8!important;
    border-bottom: 2px solid #1a73e8;
}
.backc{
    background: #ffffff;
    z-index:2;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}